@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: black;
  color:  white;
}

form {
  width: 350px;
  margin: 100px auto 0 auto;
  background-color: black;
  border-radius: 10px;
  padding: 30px;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
}

.btn {
  background-color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 20px;
  margin-top: 10px;
  width: 100%;
  font-size: 1rem;
  font-weight: 500;
  outline: none;
  cursor: pointer;
}

.group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.group input {
  border: 1px solid gray;
  background-color: black;
  border-radius: 3px;
  padding-left: 10px;
  padding: 5px;
  color: white;
}

.group input:focus {
  outline: 0;
}

.group .error {
  font-size: 10px;
  color: red;
}

.group.success input {
  border-color: rgb(28, 213, 28);
}

.group.error input {
  border-color: red;
}

.signup-link{
  color: rgb(0, 153, 255);
  text-decoration: none;
}
form p {
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
}

.home-link {
  text-decoration: none;
  color: black;
}