@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

*{
  font-family: 'Poppins', sans-serif !important;
  color: white;
}
body {
  background-color: black;
}

form{
/*   padding: 30px;
  margin: 150px auto 0 auto;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  width: 350px;
  margin: 100px auto 0 auto;
  background-color: black;
  border-radius: 10px;
  padding: 30px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.grup-1{
  display: flex;
  flex-direction: column;
}

.grup-1 input {
  background-color: black;
  outline: none;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px 15px;
  margin-bottom: 8px;
}
.signin,
.forget {
  background-color: white;
  outline: none;
  border: none;
  color: black;
  padding: 10px 15px;
  margin-top: 20px;
  width: 100%;
  border-radius: 20px;
  font-size: 16px;
}

.forget {
  border: 1px solid gray;
  background-color: black;
  color: white;
}

form p {
  margin-top: 20px;
  font-size: 14px;
  text-align: center;

}

input::placeholder {
  font-size: 16px;
}

.signin {
  font-weight: 500;
}

.signup-link{
  color: rgb(0, 153, 255);
  text-decoration: none;
}

.home-link {
  text-decoration: none;
  color: black;
}

.grup-1 input:focus {
  outline: 0;
}

.grup-1 .error {
  font-size: 10px;
  color: red;
}

.grup-1.success input {
  border-color: rgb(28, 213, 28);
}

.grup-1.error input {
  border-color: red;
}